:root{
    --gallery-width: 800px;
    --gallery-height: 600px;
    --gallery-header-height: 50px;
    --gallery-footer-height: 50px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}
