:root{
  --gallery-width: 800px;
  --gallery-height: 600px;
  --gallery-header-height: 40px;
  --gallery-footer-height: 30px;
}

#gallery{
    display: none;
    flex-direction: column;
    position: absolute;
    left: 50%;
    margin-left: calc(-0.5 * var(--gallery-width));
    top: 50%;
    margin-top: calc(-0.5 * var(--gallery-height));

    z-index: 0;
    width: var(--gallery-width);
    height: var(--gallery-height);
    background-color: black;
    color: white;

    header{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: var(--gallery-header-height);
        margin: 0 10px;

        button{
            width: 30px;
            height: 25px;
        }
        button:hover{
            cursor: pointer;
        }
    }
    #gallery-center{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;

        .gallery-button{
            position: relative;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: brightness(0.4);

            div{
                width: 50px;
                height: 50px;
                background-repeat: no-repeat;
            }
        }
        .gallery-button:first-child div{
            background-image: url("../images/chevron-left-solid.svg");
        }
        .gallery-button:last-child div{
            background-image: url("../images/chevron-right-solid.svg");
        }
        .gallery-button.active:hover{
            cursor: pointer;
            filter: brightness(1);
        }

        #multimedia-container{
            //overflow: hidden;
            height: calc(var(--gallery-height) - var(--gallery-header-height) - var(--gallery-footer-height));

            .multimedia{
                display: none;
                height: 100%;

                img{
                    max-height: 100%;
                }
                video{

                }
            }
        }
    }
    footer{
        height: var(--gallery-footer-height);
        color: white;
        text-align: center;
    }
}
