html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#mapid {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
.media_icon {
    text-align: center;
    line-height: 20px;
    color: blue; 
  }